:root{
    --primary-color:#0000ff;
    --white: #ffffff ;
    --rose: #fa7070 ;
    --bg: #f5f5fc ;
    --gray: #737b9a;
    --light-yellow: #facd61 ;
    --batli: #1ac0c6 ;
    --red: #d62929 ;
}
